.wrapper {
  height: 100vh;
  background: #84c310;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
}
.noError {
  display: block;
  font-size: 12px;
  color: red;
}
.error {
  display: none;
}
