.game {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid #ccc;
}
.game_cell {
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
